/* Base styles and typography */
:root {
  --orange-050: #ffe8d9;
  --orange-100: #ffd0ba;
  --orange-200: #ffb088;
  --orange-300: #ff9466;
  --orange-400: #f9703e;
  --orange-500: #f35627;
  --orange-600: #de3a11;
  --orange-700: #c52707;
  --orange-800: #ad1d07;
  --orange-900: #841003;

  --grey-050: #f5f7fa;
  --grey-100: #e4e7eb;
  --grey-200: #cbd2d9;
  --grey-300: #9aa5b1;
  --grey-400: #7b8794;
  --grey-500: #616e7c;
  --grey-600: #52606d;
  --grey-700: #3e4c59;
  --grey-800: #323f4b;
  --grey-900: #1f2933;
}

/* - Base Styles - */
html {
  font-size: 150%;
  font-weight: 300;
  font-family: "Roboto Light", Helvetica, Arial, serif;
  line-height: 1.4;
}

body {
  display: flex;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 70%);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.75);
  border-radius: 0.75rem;
  overflow: hidden;
}

.calculator__display {
  background-color: var(--grey-900);
  color: var(--grey-050);
  width: 16.25rem;
  padding: 0.75rem 1rem;
  text-align: right;
  font-size: calc(1rem * 1.2 * 1.2);
}

.calculator__keys {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 70px 70px 70px 70px 70px;
  grid-gap: 1px;
  grid-template-areas:
    ". . . ."
    "seven eight nine times"
    "four five six minus"
    "one two three plus"
    "zero zero clear equals";
}

.calculator__keys button {
  border: 0;
  margin: 0;
  padding: 0;
}

/*.clear { grid-area: ; }*/
/*.plusminus { grid-area: ; }*/
.plus { grid-area: plus; }
.minus { grid-area: minus; }
.times { grid-area: times; }
/*.divide { grid-area: ; }*/
/*.percent { grid-area: ; }*/
.equals { grid-area: equals; }
.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.seven { grid-area: seven; }
.eight { grid-area: eight; }
.nine { grid-area: nine; }
.zero { grid-area: zero; }
.decimal { grid-area: clear; }

[data-type="number"] { background-color: var(--grey-100); }
[data-type="number"]:active,
[data-type="number"]:focus { background-color: var(--grey-200); }

[data-type="operator"], [data-type="equal"] { background-color: var(--orange-500); }
[data-type="operator"]:active, [data-type="equal"]:active,
[data-type="operator"]:focus, [data-type="equal"]:focus { background-color: var(--orange-700); }

[data-type="special"], [data-type="clear"] { background-color: var(--grey-300); }
[data-type="special"]:active, [data-type="clear"]:active,
[data-type="special"]:focus, [data-type="clear"]:focus { background-color: var(--grey-500); }
